.img-thumb {
  position: relative;
  overflow: hidden;
}
.thumb {
  position: relative;
}
.thumb__text {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--background-color);
}
.thumb__text > p {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}
.image__item:not(:last-child) {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
}
